PORT=4000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=iot_db

MQTT_HOST=192.168.24.18
MQTT_PORT=1401
MQTT_USER=leviettuan
MQTT_PASSWORD=12345678

MQTT_TOPIC_SENSOR=data_sensor
MQTT_TOPIC_DEVICE_CONTROL=device_control
MQTT_TOPIC_DEVICE_STATUS=device_status
ROOM_ID=401

